<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarProducto">
                            <i class="fas fa-plus"></i> [[#{producto.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
        
 <!-- 2 Fragmento para agregar producto, es la ventana modal -->
        <section th:fragment="agregarProducto">
            <div id="agregarProducto" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{producto.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/producto/guardar}" th:object="${producto}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="idCategoria">[[#{producto.categoria}]]</label>
                                    <select class="form-select" name="idCategoria">   
                                        <option th:each="c : ${categorias} " 
                                                th:value="${c.idCategoria}">[[${c.descripcion}]]</option>
                                    </select>>

                                    <input type="number" class="form-control" name="idCategoria" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{producto.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="detalle">[[#{producto.detalle}]]</label>
                                    <input type="text" class="form-control" name="detalle" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">[[#{producto.precio}]]</label>
                                    <input type="number" class="form-control" name="precio" required="true"/>
                                </div>                                
                                <div class="mb-3">
                                    <label for="existencias">[[#{producto.existencias}]]</label>
                                    <input type="number" class="form-control" name="existencias" required="true"/>
                                </div>                                
                                <div class="mb-3">
                                    <label for="activo">[[#{producto.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{producto.rutaImagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>       
        

    </body>
</html>